import React from 'react';
import styles from './style.scss';

const {{properCase name}} = (props) => {
  return (
    <div class={styles['{{properCase name}}']}>
      {/* content ... */}

    </div>
  );
};

export default {{properCase name}};
