import React, { Component } from 'react';
import Helmet from 'react-helmet';
import { connect } from 'react-redux';

import {
  defaultAction,
} from './actions.js';
import styles from './style.css';

class {{properCase name}} extends Component {
  render() {
    return (
      <div class={styles['{{properCase name}}']}>
        <Helmet
          meta={[
            {name: "description", content: "Isomorphic javascript app"}
          ]}
          title="{{properCase name}}" />
        <h2>You see me now</h2>
        {/* content ... */}

      </div>
    );
  }
}

export default connect((store) => {
  return {}
})({{properCase name}});
