{
    "presets": ["es2015", "react", "stage-0"],
    "plugins": ["react-html-attrs", "transform-class-properties", "transform-decorators-legacy"],
    "env": {
        "server": {
            "plugins": [
                [
                    "css-modules-transform", {
                        "preprocessCss": "./utils/loaders/sass-loader.js",
                        "generateScopedName": "[name]_[local]_[hash:8]",
                        "extensions": [".scss"]
                    }
                ]
            ]
        }
    }
}
