.bg {
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
  z-index: -1;
  box-shadow: inset 0 -100px 250px 50px rgba(0,0,0,0.3);
  background: #c4daff;
  overflow: hidden;
}

.viewportStatus {
  font-style: italic;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
