.bg {
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
  z-index: -1;
  box-shadow: inset 0 -100px 250px 50px rgba(0,0,0,0.3);
  background: #FFF;
  overflow: hidden;
}

.header {
  height: 40vh;
  padding: 15px;
  background: #222;
  animation: slideDown ease-out 1s 1;

  h1, h4, ul {
    color: #FFF;
    text-align: center;
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      display: inline-block;
      a {
        padding: 10px;
        color: #a8ffff;
      }
    }
  }
}

.paragraph {
  text-align: center;
  padding: 15px;
  animation: slideUp ease-out 1s 1;
}

@keyframes slideDown {
  0% {transform: translateY(-100%)}
  100% {transform: translateY(0)}
}

@keyframes slideUp {
  0% {opacity: 0; transform: translateY(100%)}
  100% {opacity: 1; transform: translateY(0)}
}
