$black: #111;

.Loading {
	position: absolute;
	width: 100%;
	height: 195px;
	display: block;
	margin: 49px auto;
	//Instead of the line below you could use @include perspective($p)
	perspective: 975px;
	overflow: hidden;
}
.cube {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 29px;
	height: 29px;
	margin-left: -15px;
	margin-top: 0;
}
.cube-2d {
	background-color: $black;
}
.Loading-arc {
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin-left: -68px;
	width: 136px;
	height: 68px;
	overflow: hidden;
}
.Loading-cube {
	position: absolute;
	bottom: -68px;
	left: 50%;
	margin-left: -68px;
	width: 136px;
	height: 136px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: $black;
	border-left-color: transparent;
	border-bottom-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	animation: cssload-arc 2.3s ease-in-out infinite;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotate(-200deg);
}
@keyframes cssload-arc {
	0% {
		border-width: 29px;
	}
	25% {
		border-width: 15px;
	}
	50% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(27deg);
		border-width: 29px;
	}
	75% {
		border-width: 15px;
	}
	100% {
		border-width: 29px;
	}
}
@-o-keyframes cssload-arc {
	0% {
		border-width: 29px;
	}
	25% {
		border-width: 15px;
	}
	50% {
		border-width: 29px;
	}
	75% {
		border-width: 15px;
	}
	100% {
		border-width: 29px;
	}
}
@-ms-keyframes cssload-arc {
	0% {
		border-width: 29px;
	}
	25% {
		border-width: 15px;
	}
	50% {
		border-width: 29px;
	}
	75% {
		border-width: 15px;
	}
	100% {
		border-width: 29px;
	}
}
@-webkit-keyframes cssload-arc {
	0% {
		border-width: 29px;
	}
	25% {
		border-width: 15px;
	}
	50% {
		border-width: 29px;
	}
	75% {
		border-width: 15px;
	}
	100% {
		border-width: 29px;
	}
}
@-moz-keyframes cssload-arc {
	0% {
		border-width: 29px;
	}
	25% {
		border-width: 15px;
	}
	50% {
		border-width: 29px;
	}
	75% {
		border-width: 15px;
	}
	100% {
		border-width: 29px;
	}
}
.test {
	color: rebeccapurple;
}
