* {
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

.container {
  width: 50%;
  padding: 10px;
  background: black;
  position: absolute;
  left: 0;right: 0;bottom: 50%;
  transform: translateY(50%);
  margin: auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);

  .preview {
    margin: 10px 0;
    padding: 0;
    font-size: 23px;
    background: #eee;
    border-radius: 5px;
  }

  .form {
    input {
      border: none;
      border-radius: 5px;
      margin: 5px 0;
      &[type="text"] {
        width: 100%;
        padding: 10px;
        clear: both;
      }
      &[type="submit"] {
        background: #fff;
        float: right;
        padding: 10px 20px;;
      }
    }
  }
}

.header {
  text-align: center;
  h1 {
    font-size: 50px;
    margin: 10px 0;
  }
  span {
    padding: 10px;
    background: #eee;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px 0;
  text-align: center;
}
