.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #222;
  a {
    color: #FFF;
  }
  @media (min-width: 1025px) {
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
  }
}
