.form input {
  border: none;
  border-radius: 5px;
  margin: 5px 0;
}

.form input[type="text"] {
  width: 100%;
  padding: 10px;
  clear: both;
}

.form input[type="submit"] {
  background: #fff;
  float: right;
  padding: 10px 20px;;
}
